body{
    font-family: 'IBM Plex Mono', monospace;
}

.inknutfont,  h1, h2, .exp-list{
    font-family: 'Inknut Antiqua', serif;
}

h1, h2{
    font-weight: normal;
}

h1{
    font-size: 100px;
    line-height: 130%;
    margin-top: 50px;
    margin-bottom: 150px;
}

p{
    font-size:15px;
    line-height: 30px;
}

footer h2{
    font-size: 50px;
    line-height: 130%;
}


footer p{
    font-size: 15px;
    margin-top: 100px;
}

footer a{
    font-size:20px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    margin:100px auto;
}

img{
    max-width:100%;
}

.profile{
    margin-top:20px;
}

figcaption{
    font-size: 10px;
}

li{
    list-style: none;
}

nav ul li{
    display:inline-flex;
}

nav ul li a{
    text-decoration: none;
    color:black;
}

nav ul{
    text-align:center;
    padding:0;
    margin-bottom: 0;
    padding: 30px;
}

nav{
    background-color:#DBEBF4 ;
    position:sticky;
    top:0;
    
}

header{
    background:url("../img/background.png") center/cover no-repeat;
}

.button{
    border:1px solid black;
    border-radius:20px;
    padding: 10px 30px;
    text-decoration: none;
    color:black;
    margin-top: 40px;
    display:inline-block;
    transition: background 0.5s ease-in-out, 0.5s ease-in-out;
}

.button:hover{
    background-color: black;
    color:white;

}

.intro-list{
    padding:0;
}

ul li{
    margin:10px;
}

.exp-list{
    font-size:30px;
    text-align: center;
    margin:50px;

}

.bgcolor{
    background-color:#DBEBF4 ;
}

.proj{
    margin:30px 0;
    padding:50px;
}

.r-align{
    text-align: end;
}
